App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#albumContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(116, 70, 49);
  color: antiquewhite;
  padding-left: 70px
  }
  .header{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
  }
  #image{
    grid-column: 1;
    grid-row: 2;
    margin-right: 30px;
    
  }
  #image_two{
    grid-column: 3;
    grid-row: 2;
    
  }
  #bio{
    grid-column: 2;
    grid-row: 2;
    margin-right: 30px;
  }
  #bio_two{
    grid-column: 2;
    grid-row: 3;
  }
  #bio_three{
    grid-column: 3;
    grid-row: 3;
  }
  
 .here{
  grid-column: 1;
  grid-row: 4; 
 }
 
#myDear{
  padding-bottom: -30em;
  height: 15em;
}
#life_image{
  height: 15em;
}
#inOur{
  margin-bottom: -20em;
  padding-bottom: -30em;
}
#Iwant{
  margin-bottom: -40em;
  
}
#trouble{
  margin-bottom: -30em;
}
.live{
  margin-bottom: -60em;
  padding-bottom: 50em;
  
}
#live_bio{
  grid-column: 2/4;
}
#formDisplay{
  
  grid-row: 5;
}
/* #live_image{
  grid-column: 2/3;
} */
